body {
	background-color: hotpink;
}


section {
	border: 5px dotted goldenrod;
}

#ugh-lauren {
	background-color: red;
}

.instructor {
	background-color: lightblue;
}

#ugh-lauren > h1 {
	text-transform: uppercase;
}

#instructors-love .title{
	list-style: none;
}

#instructors-love .title ~ li {
	/*background-color: blue;*/
}

#instructors-love ul:first-of-type li:nth-of-type(2n) {
	color: white;
}